body {
	background-color: #202020;
	color:#A1BEB8;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

h2 {
	color: #009f8b;
}

button {
	color:#fff;
	background:#009f8b;
	padding:12px 32px;
	border:none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
}

table {
margin: 50px; 
font-size: 18px;
}

h1 {
	color:#fff;
	font-weight: 360px;
	font-size: 54px;
	margin-bottom: 8px;
}

img {
	border-radius: 60%;
}